main {
	height: 100%;
	width: 100%;
}

section {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background-image: url(../img/coffee-3224527.jpg);
	background-size: cover;
}

section div {
    backdrop-filter: blur(4px);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}