#booking {
	background-color: #333333;
}

#booking section {
	height: calc(100% - 5rem);
	width: 100%;
	display: grid;
	margin-top: 5rem;
	grid-template-rows: 2fr 1fr;
}

.booking-banner {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 5rem;
	position: fixed;
	width: 100vw;
	top: 0;
	background-color: #333333;
	z-index: 9;
	box-shadow: 0 10px 10px -7px black;
}

.booking-banner h1 {
	color: white;
	margin: 0;
	font-family: var(--font-two);
	text-align: center;
	letter-spacing: 2rem;
	text-indent: 2rem;
}

.map-container {
	background-image: url("../img/coffee-2358388.jpg");
	background-position: center center;
	background-size: contain;
    background-repeat: no-repeat;
}

.form-container {
    justify-self: center;
    background-color: whitesmoke;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 10px;
    height: max-content;
    align-self: center;
}

#booking-form {
    display: flex;
    flex-direction: column;
}

.submit {
    align-self: center;
    background-color: var(--color-one);
    text-decoration: none;
    color: white;
    padding:3px 10px;
    margin-top: 1rem;
    border-radius: 5px;
}

.submit:hover {
    filter: brightness(90%);
}

h3 {
    margin: 0;
    font-family: var(--font-two);
    letter-spacing: 0.2rem;
    text-indent: 0.2rem;
}

label, option {
    font-family: var(--font-two);
    font-weight: bold;
}

input {
    width: 20rem;
}

@media only screen and (orientation: portrait) and (max-device-aspect-ratio: 1/1) {
    .booking-banner {
        top:0;
        padding-top: 5rem;
    }

    #booking section {
        height: calc(100% - 10rem);
        margin-top: 10rem;
        grid-template-rows: 1fr 1fr;
    }

    .form-container {
        margin:0;
    }
}

