.splash-screen {
	height: calc(100vh - 80px);
	display: grid;
	grid-template-columns: 2fr 1fr;
	background-color: var(--color-three);
}

.left-splash-container {
	background-color: var(--color-two);
}

.right-splash-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	row-gap: 10px;
}

h2 {
	font-family: var(--font-one);
	color: var(--color-one);
	font-stretch: semi-expanded;
	padding-left: 50px;
	margin: 0;
	font-size: 2rem;
}

.button-container {
	display: flex;
	padding: 0 calc(2rem + 50px);
	column-gap: 10px;
}
.button-container a {
	background-color: var(--color-one);
	border: none;
	border-radius: 10px;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 1rem;
	padding: 10px 10px;
}
