main {
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
}

section {
	width: 100%;
	height: 100%;
	scroll-snap-align: start;
	scroll-snap-stop: always;
}

section:first-child {
	background-image: url(../img/coffee-3120750.jpg); /*Pixabay. 2021. Coffee Drink Hot - Free photo on Pixabay. [online] Available at: <https://pixabay.com/photos/coffee-drink-hot-cup-cappuccino-3120750/> [Accessed 25 June 2021].*/
	background-size: cover;
	filter: brightness(140%);
	box-shadow: inset 0 0 100px black;
}

.bg-blur {
	padding: 0 6rem;
	height: 100%;
	display: grid;
	grid-template-rows: 1fr 1fr;
	background-color: rgba(0, 0, 0, 0.4);
}
.bg-blur h1 {
	font-family: var(--font-one);
	font-size: 4rem;
	color: white;
	justify-self: center;
	align-self: end;
	margin: 0;
	text-align: center;
	font-smooth: 20px;
	filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.6));
}

.bg-blur h1::after {
	content: "ORGANIC TILL THE LAST DROP";
	font-family: var(--font-two);
	font-size: 1.5rem;
	display: block;
	font-weight: normal;
	letter-spacing: 1rem;
	word-spacing: 2rem;
	padding-top: 4rem;
	text-align: center;
}

section:nth-child(2) {
	display: grid;
	grid-template-rows: 1fr 2fr;
}

.inner:first-child {
	background-color: var(--color-six);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 6rem;
}

.inner:first-child h2 {
	color: white;
	margin: 0;
	font-family: var(--font-two);
	text-align: center;
	letter-spacing: 1rem;
	word-spacing: 2rem;
	filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.6));
}

.inner:last-child {
	height: 100%;
	background-image: url("../img/woman-4660887.jpg"); /*Pixabay.com. 2021. Woman Wearing Female - Free photo on Pixabay. [online] Available at: <https://pixabay.com/images/id-4660887/> [Accessed 25 June 2021].*/
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 6rem;
}

.inner:last-child h2 {
	color: white;
	margin: 0;
	font-family: var(--font-two);
	text-align: center;
	letter-spacing: 1rem;
	word-spacing: 2rem;
	filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.6));
}

section:nth-child(3) {
	background-color: var(--color-two);
	display: grid;
	grid-template-rows: 50vh 50vh;
}

.inner2 {
	display: flex;
	justify-content: space-between;
	margin: 2rem 8rem;
	align-items: center;
}

.inner2 img {
	height: 400px;
	width: 600px;
}

.inner2 p {
	color: black;
	margin: 0 2rem;
	font-family: var(--font-two);
	text-align: left;
	font-size: 1.5rem;
	line-height: 2.5rem;
	letter-spacing: 0.2rem;
	font-weight: bold;
}

section:last-child {
	background-image: url("../img/portrait-beautiful-young-woman-standing-grey-wall.jpg"); /*Freepik. 2021. Download Portrait Of Beautiful Young Woman Standing On Grey Wall for free. [online] Available at: <https://www.freepik.com/free-photo/portrait-beautiful-young-woman-standing-grey-wall_13813927.htm> [Accessed 25 June 2021].*/
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.inner3 {
	padding: 0 6rem;
}

.inner3 h2 {
	color: white;
	margin: 0;
	font-family: var(--font-two);
	text-align: center;
	letter-spacing: 1rem;
	word-spacing: 1rem;
	filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.6));
	line-height: 3rem;
}

/* from here is arrow */
.arrow-container {
	justify-self: center;
	align-self: end;
	width: 40px;
	height: 60px;
	transform: translateY(-35px);
}

.chevron {
	position: absolute;
	width: 40px;
	height: 40px;
	opacity: 0;
	filter: invert(100%);
	transform: scale3d(0.5, 0.5, 0.5);
	animation: move 3s ease-out infinite;
}

.chevron:first-child {
	animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
	animation: move 3s ease-out 2s infinite;
}

@keyframes move {
	25% {
		opacity: 1;
	}
	33% {
		opacity: 1;
		transform: translateY(30px);
	}
	67% {
		opacity: 1;
		transform: translateY(45px);
	}
	100% {
		opacity: 0;
		transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
	}
}

@media only screen and (orientation: portrait) and (max-device-aspect-ratio: 1/1) {
	.arrow-container {
		transform: translateX(-50%);
		bottom: 0;
		transform: translateY(-50%);
	}

	.bg-blur {
		grid-template-rows: 2fr 1fr;
		padding: 0 !important;
	}

	.inner {
		padding: 0 0 !important;
	}

	.inner2 {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0;
		gap: 2rem;
	}

	.inner2:first-child {
		margin-top: 6rem;
	}

	.inner2 img {
		width: 500px;
		height: 300px;
	}

	.inner2 p {
		text-justify: inter-word;
		text-align: center;
		letter-spacing: 0.1rem;
		line-height: 1.5rem;
	}

	.inner2:last-child {
		flex-direction: column-reverse;
	}
}

@media only screen and (max-width: 600px) {
	.inner2 img {
		width: 250px;
		height: 180px;
	}

	.inner3 {
		padding: 0;
	}
}

@media (hover: none) {
	.arrow-container {
		transform: rotate(180deg) translateY(-30%);
	}

	.bg-blur {
		grid-template-rows: 2fr 1fr;
	}
}
