main {
	overflow-y: scroll;
	background-color: rgba(0, 0, 0, 0.8);
}

section {
	width: 100%;
}

.item-container {
	display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    justify-content: space-evenly ;
    margin: 0 6rem;
    gap:50px;

}

.card {
	background-color: brown;
    border-radius: 16px;
    height: 350px;
    box-shadow: 1rem 0 1rem #000000;
}

.menu-banner {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 5rem;
}

.menu-banner h1 {
	color: white;
	margin: 0;
	font-family: var(--font-two);
	text-align: center;
	letter-spacing: 1rem;
	word-spacing: 2rem;
}

@media only screen and (max-width: 600px) {
	.menu-banner {
		padding-top: 6rem;
	}

    .item-container {
        margin: auto 1rem;
    }
}
